*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   flex-direction: column;
}
#box{
   height: 200px;
   width: 200px;
   background-color: rgb(255, 0,0);
   border: 5px solid white;
}
button{
   padding: 10px 20px;
   border-radius: none;
   background-color: crimson;
   border-radius: 5px;
   cursor: pointer;

}
button:active{
   scale: 0.95;
}