*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

h2{
   font-size: 50px;
}
button{
   background-color: crimson;
   padding: 10px 20px;
   margin-top: 20px;
}