*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    /* height: 400px; */
    background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
     overflow: hidden;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-top: 10px;

}
.card h2{
    font-size: 29px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 65px;
    /* background-color: red; */
    color: transparent;
    opacity: 0;
    background-image: url(https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819864.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all 
    
    cubic-bezier(.87,1.32,.24,.55) 0.4s;
    z-index: 10;
}
