*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
main h1{
    height: 200px;
    width: 300px;
    background-color: aqua;
    font-size: 70px;
    padding-left: 220px;
    padding-top: 160px;
}
button{
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-weight: 600;

}
